<h1>Listing menus</h1>

<table class="zebra-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Photo file name</th>
    <th>Price</th>
    <th>Available today</th>
  </tr>

<% @menus.each do |menu| %>
  <tr>
    <td><%= image_tag( menu.photo_file_name, :size=>"80x80") %></td>
    <td><%= menu.title %></td>
    <td><%= menu.description %></td>
    <td><%= menu.photo_file_name %></td>
    <td><%= menu.price %></td>
    <td><%= menu.available_today %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu', new_menu_path %>
