<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @menu.title %>
</p>

<p>
  <b>Description:</b>
  <%= @menu.description %>
</p>

<p>
  <b>Photo file name:</b>
  <%= @menu.photo_file_name %>
</p>

<p>
  <b>Price:</b>
  <%= @menu.price %>
</p>

<p>
  <b>Available today:</b>
  <%= @menu.available_today %>
</p>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
