<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :menu_id %><br />
    <%= f.number_field :menu_id %>
  </div>
  <div class="field">
    <%= f.label :delivery_location %><br />
    <%= f.text_field :delivery_location %>
  </div>
  <div class="field">
    <%= f.label :delivery_sub_location %><br />
    <%= f.text_field :delivery_sub_location %>
  </div>
  <div class="field">
    <%= f.label :delivery_time %><br />
    <%= f.datetime_select :delivery_time %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
