<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @order.user_id %>
</p>

<p>
  <b>Menu:</b>
  <%= @order.menu_id %>
</p>

<p>
  <b>Delivery location:</b>
  <%= @order.delivery_location %>
</p>

<p>
  <b>Delivery sub location:</b>
  <%= @order.delivery_sub_location %>
</p>

<p>
  <b>Delivery time:</b>
  <%= @order.delivery_time %>
</p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>

<p>
  <b>Comments:</b>
  <%= @order.comments %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
